<link rel="stylesheet" href="..//static/css/index.css" />
<script>
  function add() {
    var v = document.getElementById("addForm");

    if (v.style.display === "" || v.style.display === "none") {
      document.getElementById("addForm").style.display = "block";
    } else {
      document.getElementById("addForm").style.display = "none";
    }
  }
</script> 

{% extends "base.html" %} {% block content %}

<div>
  <h1>Calculate expenses of your trip</h1>
  {% if current_user.is_authenticated %}
  <button id="add" onclick="add()">Add</button>

  <form action="/" method="POST" id="addForm">
    <div class="form-group">
      <label for="Item">Item</label>
      <input type="text" placeholder="Item" name="Item" id="Item" required />
    </div>

    <div class="form-group">
      <label for="PriceItem">Price</label>
      <input
        type="number"
        placeholder="Price"
        name="PriceItem"
        id="PriceItem"
        required
      />
    </div>
    <div class="form-group">
      <label for="DateItem">Price</label>
      <input
        type="date"
        placeholder="Date"
        name="DateItem"
        data-date-format="DD MM YYYY"
        id="DateItem"
        required
      />
    </div>

    <div class="form-group">
      <input type="submit" value="Add item" />
    </div>
  </form>
  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="notification is-danger">{{ messages[0] }}</div>

  {% endif %} {% endwith %} {{test}} {% endif %} {% if not
  current_user.is_authenticated %}
  <p>
    You need to <a href="{{ url_for('auth.login') }}">Log in</a> to save your
    data
  </p>

  {% endif %}
</div>

{% endblock %}
