
{% extends "base.html" %} {% block content %}

<h1 class="title">Your trip to {{ tripName }}!</h1>
<h3 class="title"> {{ tripDate }}!</h1>

<h2>Your total is: {{total}}</h2>
<div class="form-container">
  <button id="add" onclick="add()">Add expense</button>

  <form action="/myexpenses/{{ tripId }}" method="POST" id="addForm" class="hideForm">
    <div class="form-group">
      <label for="Item">Item</label>
      <input type="text" placeholder="Item" name="Item" id="Item" required />
    </div>

    <div class="form-group">
      <label for="PriceItem">Price</label>
      <input
        type="number"
        placeholder="Price"
        name="PriceItem"
        id="PriceItem"
        required
      />
    </div>
    <div class="form-group">
      <label for="DateItem">Date</label>
      <input
        type="date"
        placeholder="Date"
        name="DateItem"
        data-date-format="DD MM YYYY"
        id="DateItem"
        required
      />
    </div>

    <div class="form-group">
      <input type="submit" value="Add expense" />
    </div>
  </form>
</div>
<div class="form-container">
  <table>
    <thead>
      <th>Date</th>
      <th>Item</th>
      <th>Price</th>
      <th><button onclick="deleteall({{ tripId }})">Delete all</button></th>
    </thead>
    <tbody>
      {% for i in item %}

      <tr>
        <td>{{i.date}}</td>
        <td>{{i.item}}</td>
        <td>{{i.price}}</td>

        <td>
          <button onclick="deleteItem({{ i.id }})">Delete</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% with messages = get_flashed_messages() %} {% if messages %}
<div class="notification is-danger">{{ messages[0] }}</div>

{% endif %} {% endwith %} {% if not current_user.is_authenticated %}
<p>
  You need to <a href="{{ url_for('auth.trips') }}">Select a trip </a> to see
  your details
</p>

{% endif %} {% endblock %}
