<link rel="stylesheet" href="..//static/css/index.css" />
<script>
  function add() {
    var v = document.getElementById("addForm");

    if (v.style.display === "" || v.style.display === "none") {
      document.getElementById("addForm").style.display = "block";
    } else {
      document.getElementById("addForm").style.display = "none";
    }
  }
</script>
<style>
  h1 {
    background-color: aquamarine;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  td,
  th {
    border: 1px solid black;
  }
</style>
{% extends "base.html" %} {% block content %}

<h1>Add a Trip to your profile</h1>

<div class="form-container">
  
  <!-- {% if current_user.is_authenticated %} -->
  <button id="add" onclick="add()">Add Trip</button>

  <form action="/trips" method="POST" id="addForm">
    <div class="form-group">
      <label for="Item">Trip name</label>
      <input type="text" placeholder="Item" name="Item" id="Item" required />
    </div>

    <div class="form-group">
      <label for="DateItem">Expected Start Date</label>
      <input
        type="date"
        name="DateItem"
        id="DateItem"
        required
      />

      <label for="DateItem">Expected End Date</label>
      <input
        type="date"
        name="DateItem"
        id="DateItem"
        required
      />
    </div>

    <div class="form-group">
      <input type="submit" value="Add Trip" />
    </div>
  </form>
  
  <!-- {% endif %} -->
</div>
<div class="form-container">

</div>


{% endblock %}
